@import 'base/variables';

.bg-visual {
	background: url(http://file.toyhou.se/images/4688984_41BpWUeYz3OVmbD.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.profile {
	font-family: book antiqua, palatino;
	padding-top: 20px;
}

.panel {
	margin: 0 20px 20px;
	background-color: transparent;
	color: $white;
	background: url(http://file.toyhou.se/images/4689806_NJqjvHCQ4g0nHKb.png);
}

table {
	border: 0;
}
