@import 'base/variables';

.wrapper {
	background-color: $grey;
	color: $black;
}

table {
	border: 0;
	&.attacks {
		tr, td, .value {
			height: 100%;
		}
		td {
			padding: 3px;
			&.right {
				padding-right: 0;
			}
			&.left {
				padding-left: 0;
			}
			&.last {
				padding-bottom: 10px;
			}
		}
	}
}

ul {
	padding: 0;
	padding-left: 20px;
}

li {
	list-style-type: circle;
	.title {
		margin-left: 5px;
	}
}

hr {
	margin: 0;
	border: 0;
	background-color: $grey;
	height: 1px;
}

.wrapper {
	font-family: Book Antiqua, Palatino;
}

.framed-container {
	padding: 5px;
	.content {
		background-color: $white;
	}
}

.frame-row {
	padding: 0;
}

.edge-l, .edge-r {
	background-image: url(#{$edge});
	background-repeat: repeat-y;
	width: $edge-width;
}

.edge-r {
	background-position: -$edge-width 0;
}

.edge-t, .edge-b {
	background-color: $white;
	.border {
		background-color: $black;
		height: $edge-height;
	}
}

.edge-b {
	padding-top: $corner-size - $edge-height;
}

[class^=corner-] {
	background-image: url(#{$corners});
	background-repeat: no-repeat;
	width: $corner-size;
	height: $corner-size;
}

.corner-tr {
	background-position: -$corner-size 0;
}

.corner-bl {
	background-position: 0 -#{$corner-size};
}

.corner-br {
	background-position: -#{$corner-size} -#{$corner-size};
}

.label-xxs {
	font-size: 10px;
}

.label-xs, .info-title {
	font-size: 11px;
}

.label-xl {
	font-size: 24px;
}

.value-title, .value-content {
	text-align: center;
}

.value-title, .info-title {
	text-transform: uppercase;
}

.value-title {
	font-weight: bold;
}

.value {
	background-color: $grey;
	padding: 3px;
}

.dice-item, .die {
	margin: 5px;
	text-transform: uppercase;
	.label-xxs {
		color: $grey;
	}
}

.header {
	.name {
		margin: 0 10px;
	}
}

.skills, .throws {
	li {
		margin: 5px 0;
	}
}

.senses-title {
	border: 1px solid $black;
	margin: 0 5px 10px;
	.score {
		font-size: 18px;
	}
	.title {
		text-transform: uppercase;
		text-align: center;
	}
}

.score-padding {
	padding: 0 10px;
}

.list-padding {
	padding: 0 5px;
}

.senses-description {
	margin: 5px;
}
