<div class="senses-title d-flex flex-row justify-content-center align-items-center rounded">
<div class="score"><%- include('frame', {type: undefined, content: content.value, className: undefined, contentClass: 'value-content score-padding', comment: 'Senses Score'}); %></div>
<div class="media-body title">


<!-- Senses Name -->
<%= content.title %>


</div>
</div>
<div class="senses-description">


<!-- Senses Description -->
<%= content.description %>


</div>
<div class="label-xs value-title">
Senses
</div>
