$corners: "http://file.toyhou.se/images/4736857_j15UGrO05APc03X.png?1504820005";
$edge: "http://file.toyhou.se/images/4737211_uYlJwEN5vcH6ypX.png?1504820031";
$corner-size: 9px;
$edge-width: 4px;
$edge-height: 2px;

$white: #F9F4F2; 
$black: #231212;
$grey: #AFA6A5;
